/* Colors */
$dark_blue: hsl(240 100% 27.3%);
$blue: hsl(240 100% 50%);
$amarillo: hsla(43, 100%, 51%, 1);
$marron: hsla(43, 100%, 18%, 0.65);
$marron_oscuro: hsla(43, 100%, 18%, 0.9);

/* Breakpoint */
$breakpoint: 1080px;
