@import "../styles/variables.scss";


.headerContainer {
  height: 10vh;
  display: flex;
  width: 100%;
  background-color: $blue;
  justify-content: center;


  h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 30px;
  }


}



